<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>ScriptHub Project</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Главная</a></li>
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>Сделано мной любимым для ТОВТ</p>
        </div>
    </footer>
</body>
</html>
