<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="лого"></a>
        </div>
        <nav>
            <ul class="nav">
                <li><a href="{{ url_for('home') }}">Главная</a></li>
                <li><a href="{{ url_for('faq') }}">FAQs</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block body %}{% endblock body %}
    </div>
    <footer>
        <p>&copy; сотварино силами меня любимого для любимого ТОВТ</p>
    </footer>
</body>
</html>